@import '~terra-mixins';

:local {
  %is-open {
    /* stylelint-disable selector-no-qualifying-type */
    &.is-open {
      transform: rotate(90deg);
    }
    /* stylelint-enable selector-no-qualifying-type */
  }

  .section-header {
    @include terra-padding-end(var(--terra-section-header-padding-end, 0.7142857143rem));
    @include terra-padding-start(var(--terra-section-header-padding-start, 0.5rem));
   
    background: var(--terra-section-header-background, #fff);
    border: var(--terra-section-header-border, 1px solid #1c1f21);
    color: var(--terra-section-header-color, #1c1f21);
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: var(--terra-section-header-padding-bottom, 0.5rem); // TODO: replace with callout value
    padding-top: var(--terra-section-header-padding-top, 0.5rem); // TODO: replace with recalloutal value
    width: 100%;

    &.is-interactable {
      &:hover,
      &:focus {
        background: var(--terra-section-header-hover-focus-background, #cfd0d1);
        border: var(--terra-section-header-hover-focus-border, 1px solid #1c1f21);
        color: var(--terra-section-header-hover-focus-color, #1c1f21);
        cursor: pointer;
      }
    }
  }

  .title {
    text-transform: var(--terra-section-header-text-transform, none);
  }

  .glyph {
    @include terra-margin-end(0.2142857143rem);
    max-height: 0.714285714rem;
    max-width: 0.714285714rem;
    
    > svg {
      background-repeat: no-repeat;
      background-size: contain;
      height: 0.714285714rem;
      width: 0.714285714rem;
    }
    
    .accordion-glyph {
      @extend %is-open;

      &.is-animated {
        transition: 0.25s;
      }
      
      /* stylelint-disable string-quotes, selector-max-compound-selectors */
      [dir=ltr] & {
        background: var(--terra-section-header-accordion-glyph, inline-svg("<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'><title>0023_caretRight_a</title><path id='caretRight' d='M12,0l24,24L12,48V0z'/></svg>"));
      }
      
      [dir=rtl] & {
        background: var(--terra-section-header-accordion-glyph-rtl, inline-svg("<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48 48' style='enable-background:new 0 0 48 48;' xml:space='preserve'><title>0023_caretRight_a</title><path id='caretLeft' d='M36,48L12,24L36,0V48z'/></svg>"));
      }
      /* stylelint-enable string-quotes, selector-max-compound-selectors */
    }
  }
}
